extends ../../templates/page/template.page-base-adaptativo.pug

block styles
	link(rel="stylesheet", href="style.css")

block body
	.body.body01
		+header()
		.fundo
			+image('capa.png', 'capa')
			.titleBase.zoomIn.delay2  
				.title
					+image('title.svg', '')

			
			.tile.up.delay4  
				.baseH
					h2.left.delay4 Obrigado pela participação!
					h3.right.delay5 Em breve os vencedores <br>serão divulgados.

				.baseBtn.zoomIn.delay6  
					button.init.btnCadastrar
						+image('voltarBtn.svg', '')
		
		
block scripts
	script(src="script.js")