mixin quiz1(indice)
  section.sec1.question(question=indice)
    .titleBloc.up.delay4
      .number.zoomIn.delay4 
        +image('questao01n.svg', '')
      .titleD Qual dos sinais abaixo pode indicar suspeita de Hipofosfatasia em uma criança?
    .blocBase
      .bloc.down.delay5
        .it(it=1, res=0 )
          .sel
          .text Dente de leite caiu com raiz intacta antes dos 4 anos
        .it(it=2, res=0 )
          .sel
          .text Dor ou cansaço nos braços e pernas sem motivo aparente
        .it(it=3, res=0 )
          .sel
          .text Crescimento abaixo da média
        .it(it=4, res=1 )
          .sel
          .text Todas as anteriores

    .boxBlack.up.delay6
      button.btnInit.cadastro.confirm
        +image('enviarBtn.svg', '')

