mixin quiz4(indice)
  section.sec4.question(question=indice)
    .titleBloc.up
      .number.zoomIn 
        +image('questao04n.svg', '')
      .titleD Qual enzima está em níveis anormalmente baixos em pacientes com HPP <br>de forma persistente?
    .blocBase
      .bloc.down.delay2
        .it(it=1, res=0 )
          .sel
          .text Hemoglobina
        .it(it=2, res=0 )
          .sel
          .text Creatina quinase
        .it(it=3, res=1 )
          .sel
          .text Fosfatase alcalina (FAL)
        .it(it=4, res=0 )
          .sel
          .text Insulina

    .boxBlack.up.delay6
      button.btnInit.cadastro.confirm
        +image('enviarBtn.svg', '')
