mixin quiz2(indice)
  section.sec2.question(question=indice)
    .titleBloc.up
      .number.zoomIn 
        +image('questao02n.svg', '')
      .titleD Se um dente cair cedo demais, com raiz e tudo, é sempre normal e não precisa se preocupar.
    .blocBase
      .bloc.down.delay2
        .it(it=1, res=0 )
          .sel
          .text Verdadeiro
        .it(it=2, res=1 )
          .sel
          .text Falso

    .boxBlack.up.delay6
      button.btnInit.cadastro.confirm
        +image('enviarBtn.svg', '')

