mixin quiz5(indice)
  section.sec5.question(question=indice)
    .titleBloc.up
      .number.zoomIn 
        span 5
      .titleD Em quantos meses, após a chegada no mercado, é definida a trajetória de <br>um novo produto?
    .blocBase
      .bloc.down.delay2
        .it(it=1, res=1 )
          .sel
          .text 6 meses
        .it(it=2, res=0 )
          .sel
          .text 9 meses
        .it(it=3, res=0 )
          .sel
          .text 12 meses
        .it(it=4, res=0 )
          .sel
          .text 15 meses

    .boxBlack.up.delay3
      button.btnInit.cadastro.finalizar
        p FINALIZAR
      
    .foguete.foguete2
      +image('foguete.png', 'fogueteImg')