mixin quiz5(indice)
  section.sec5.question(question=indice)
    .titleBloc.up
      .number.zoomIn 
        +image('questao05n.svg', '')
      .titleD A Hipofosfatasia (HPP) tem cura?
    .blocBase
      .bloc.down.delay2
        .it(it=1, res=0 )
          .sel
          .text Sim, a HPP pode ser completamente curada com o tratamento adequado.
        .it(it=2, res=1 )
          .sel
          .text Não, a HPP não tem cura, mas possui tratamento que alivia sintomas <br>e previne complicações.
        

    .boxBlack.up.delay6
      button.btnInit.cadastro.confirm
        +image('enviarBtn.svg', '')
      
