mixin quiz3(indice)
  section.sec3.question(question=indice)
    .titleBloc.up
      .number.zoomIn 
        +image('questao03n.svg', '')
      .titleD Quem são os especialistas que podem ajudar no diagnóstico da Hipofosfatasia?
    .blocBase
      .bloc.down.delay2
        .it(it=1, res=0 )
          .sel
          .text Dentistas e pediatras
        .it(it=2, res=1 )
          .sel
          .text Endocrinologistas, ortopedistas, geneticistas e reumatologistas
        .it(it=3, res=0 )
          .sel
          .text Cardiologistas e dermatologistas
        .it(it=4, res=0 )
          .sel
          .text Professores e enfermeiros

    .boxBlack.up.delay6
      button.btnInit.cadastro.confirm
        +image('enviarBtn.svg', '')

