include mixin.imports.pug
include mixin.slider.pug
include mixin.modal.pug
include mixin.feedback.pug
include mixin.pick.one.pug
include mixin.vf.pug
include mixin.header.pug
include mixin.arrows.pug
include mixin.slick.pug
include mixin.footer.pug
include mixin.ballon.pug
include mixin.radio.pug
include mixin.menuScreen.pug

include quiz/mixin.quiz1.pug
include quiz/mixin.quiz2.pug
include quiz/mixin.quiz3.pug
include quiz/mixin.quiz4.pug
include quiz/mixin.quiz5.pug
include quiz/mixin.quiz6.pug
