extends ../../templates/page/template.page-base-adaptativo.pug

block styles
	link(rel="stylesheet", href="style.css")

block body
	.body.body01
		+header()

		.fundo
			+image('capa.png', 'capa')
			.barra.left.delay2
			+image('title.svg', 'title down delay3')

			#cronometro.timeQuiz.right.delay8 00:00:00

			+quiz1(1)
			+quiz2(2)
			+quiz3(3)
			+quiz4(4)
			+quiz5(5)

			+image('logo.svg', 'logoX up delay6')
		
block scripts
	script(src="script.js")