extends ../../templates/page/template.page-base-adaptativo.pug

block styles
	link(rel="stylesheet", href="style.css")

block body
	.body.body01
		+header()

		.fundo
			+image('questao01.png', 'capa capa1')
			+image('questao02.png', 'capa capa2')
			+image('questao03.png', 'capa capa3')
			+image('questao04.png', 'capa capa4')
			+image('questao05.png', 'capa capa5')
			+image('questao06.png', 'capa capa6')
			
			.titleBase.zoomIn.delay2  
				.title
					+image('title.svg', '')

			#cronometro.timeQuiz.right.delay8 00:00:00

			+quiz1(1)
			+quiz2(2)
			+quiz3(3)
			+quiz4(4)
			+quiz5(5)
			+quiz6(6)

		
block scripts
	script(src="script.js")