@import '../../less/includes/colors.less';
@import '../../less/includes/fonts.less';

.body {
    background-color: @color-09;
    position: relative;

    // * {
    //     box-sizing: border-box;
    // }

    .timeQuiz{
        position: absolute;
        // width: 20rem;
        font-size: 12rem;
        color: #4bff00;
        right: 4rem;
        top: 20rem;
        font-family: 'Digital Display', Courier, monospace;
        padding: 2rem;
        animation: float 10s ease-in-out infinite;

        &::before{
            position: absolute;
            content: "88:88:88";
            top: 0;
            left: 0;
            z-index: -1;
            color: rgba(239, 239, 239, 0.2);
            border-radius: 1rem;
            background: rgba(0, 0, 0, 0.25);
            padding: 2rem;
        }
    }

    .fundo {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;



        .capa {
            position: relative;
            width: 100%;
            height: 100%;
            object-fit: cover;
            animation: myAnim 3s cubic-bezier(0, 0.55, 0.45, 1) 0s 1 normal forwards;
        }

        .titleBase {
            position: absolute;
            width: 45rem;
            height: 30rem;
            top: 10rem;
            left: 10rem;

            .title {
                position: relative;
                width: 100%;
                height: 100%;

                img {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    transform: translateY(0px);
                    animation: float 6s ease-in-out infinite;
                    filter: drop-shadow(29.58px 29.58px 35.94px rgba(82, 34, 93, 0.75));
                }


            }
        }
    }

    .question {
        position: absolute;
        z-index: 1;
        top: 97rem;
        left: 18rem;
        width: 180rem;
        animation: float 12s ease-in-out infinite;

        
    

        .titleBloc {
            display: flex;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;

            .number{
                position: absolute;
                width: 12rem;
                height: 12rem;
                z-index: 1;
                top: -7rem;
                left: -7rem;

                img{
                    position: relative;
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }

                
            }

            .titleD{
                position: relative;
                width: 100%;
                // padding: 5rem 13rem 5rem 14rem;
                // background-color: @color-05;
                // border-bottom-right-radius: 5rem;
                // box-shadow: 0 4px 15px 0 @color-black;
                font-size: 3.8rem;
                line-height: 1;
                color: @color-white;
                background: linear-gradient( #43387c 0%, #841655 100% );
                padding: 5rem;
                padding-left: 7rem;
            }

        }

        .blocBase{
            position: relative;
            width: 100%;
            // height: 80rem;
            overflow: hidden;
            top: 0rem;
            z-index: -1;
            display: flex;
            justify-content: center;
            align-items: center;
            
            .bloc{
                position: relative;
                width: 100%;
                height: 100%;
                padding: 5rem;
                display: flex;
                flex-direction: column;
                gap: 3rem;

                &::before {
                    position: absolute;
                    content: '';
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    background: linear-gradient(#841655 0%, #43387c 100%);
                    box-shadow: 0px 0px 27px 5px rgb(28, 28, 28);
                    opacity: 0.85;
                    z-index: -1;
                }


                .it{
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 2rem;
                    cursor: pointer;

                    .sel{
                        position: relative;
                        width: 3rem;
                        height: 3rem;
                        border-radius: 100%;
                        background: linear-gradient(rgba(24, 173, 214, 0.1) 0.67%, rgba(22, 166, 207, 0.1) 5.24%, rgba(10, 109, 149, 0.1) 49.7%, rgba(2, 72, 110, 0.1) 82.56%, rgba(0, 60, 99, 0.1) 100%);
                        border: 0.2rem solid #fff;
                    }

                    .text{
                        position: relative;
                        width: calc(100% - 15rem);
                        color: #fff;
                        font-size: 3.8rem;
                        line-height: 1.1;
                    }

                    &.active,
                    &:hover {
                        .sel {
                            background: linear-gradient(#003c63 0%, #075d85 26.92%, #1396bf 75.83%, #18add6 99.33%, #18add6 100%);
                        }
                    }
                }
            }
        }

        .boxBlack {
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            position: relative;
            width: 100%;
            padding: 0;
            margin: 0;
            top: -8rem;
            left: 10rem;

            .btnInit {
                position: relative;
                width: 45rem;
                transition: all .2s ease-in-out;
                cursor: pointer;
        
                img {
                    position: relative;
                    object-fit: contain;
                    width: 100%;
                    height: 100%;
                    filter: drop-shadow(29.58px 29.58px 35.94px rgba(17, 1, 21, 0.75));
                    transition: all .4s ease-in-out;
                }
        
                &:hover {
        
                    transition: all .4s ease-in-out;
        
                    img {
                        transform: scale(1.1);
                        transition: all .4s ease-in-out;
                    }
                }
            }
            
            
        }
    }

}


@keyframes myAnim {
    0% {
        transform: scale(4.5);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0px);
    }
}